In [1]:
import pandas as pd

In [2]:
countries_df = pd.read_csv('top_10_countries.csv')

In [3]:
countries_df

   Rank Country / Dependency    Region  Population % of world       Date
0     1                China      Asia  1412600000     17.80%  31-Dec-21
1     2                India      Asia  1386946912     17.50%  18-Jan-22
2     3        United States  Americas   333073186      4.20%  18-Jan-22
3     4            Indonesia      Asia   271350000      3.42%  31-Dec-20
4     5             Pakistan      Asia   225200000      2.84%  01-Jul-21
5     6               Brazil  Americas   214231641      2.70%  18-Jan-22
6     7              Nigeria    Africa   211401000      2.67%  01-Jul-21
7     8           Bangladesh      Asia   172062576      2.17%  18-Jan-22
8     9               Russia    Europe   146171015      1.84%  01-Jan-21
9    10               Mexico  Americas   126014024      1.59%  02-Mar-20

In [13]:
type(countries_df.shape)

tuple

In [12]:
type(countries_df.info)

method

In [7]:
countries_df.head

<bound method NDFrame.head of    Rank Country / Dependency    Region  Population % of world       Date
0     1                China      Asia  1412600000     17.80%  31-Dec-21
1     2                India      Asia  1386946912     17.50%  18-Jan-22
2     3        United States  Americas   333073186      4.20%  18-Jan-22
3     4            Indonesia      Asia   271350000      3.42%  31-Dec-20
4     5             Pakistan      Asia   225200000      2.84%  01-Jul-21
5     6               Brazil  Americas   214231641      2.70%  18-Jan-22
6     7              Nigeria    Africa   211401000      2.67%  01-Jul-21
7     8           Bangladesh      Asia   172062576      2.17%  18-Jan-22
8     9               Russia    Europe   146171015      1.84%  01-Jan-21
9    10               Mexico  Americas   126014024      1.59%  02-Mar-20>

In [11]:
type(countries_df.tail(2))

pandas.core.frame.DataFrame

In [10]:
type(countries_df.describe)

method

In [14]:
cdf=countries_df

In [15]:
cdf

   Rank Country / Dependency    Region  Population % of world       Date
0     1                China      Asia  1412600000     17.80%  31-Dec-21
1     2                India      Asia  1386946912     17.50%  18-Jan-22
2     3        United States  Americas   333073186      4.20%  18-Jan-22
3     4            Indonesia      Asia   271350000      3.42%  31-Dec-20
4     5             Pakistan      Asia   225200000      2.84%  01-Jul-21
5     6               Brazil  Americas   214231641      2.70%  18-Jan-22
6     7              Nigeria    Africa   211401000      2.67%  01-Jul-21
7     8           Bangladesh      Asia   172062576      2.17%  18-Jan-22
8     9               Russia    Europe   146171015      1.84%  01-Jan-21
9    10               Mexico  Americas   126014024      1.59%  02-Mar-20

In [16]:
pd.melt(cdf)

                variable           value
0                   Rank               1
1                   Rank               2
2                   Rank               3
3                   Rank               4
4                   Rank               5
5                   Rank               6
6                   Rank               7
7                   Rank               8
8                   Rank               9
9                   Rank              10
10  Country / Dependency           China
11  Country / Dependency           India
12  Country / Dependency   United States
13  Country / Dependency       Indonesia
14  Country / Dependency        Pakistan
15  Country / Dependency          Brazil
16  Country / Dependency         Nigeria
17  Country / Dependency      Bangladesh
18  Country / Dependency          Russia
19  Country / Dependency          Mexico
20                Region            Asia
21                Region            Asia
22                Region        Americas
23                Region            Asia
24                Region            Asia
25                Region        Americas
26                Region          Africa
27                Region            Asia
28                Region          Europe
29                Region        Americas
30            Population      1412600000
31            Population      1386946912
32            Population       333073186
33            Population       271350000
34            Population       225200000
35            Population       214231641
36            Population       211401000
37            Population       172062576
38            Population       146171015
39            Population       126014024
40            % of world          17.80%
41            % of world          17.50%
42            % of world           4.20%
43            % of world           3.42%
44            % of world           2.84%
45            % of world           2.70%
46            % of world           2.67%
47            % of world           2.17%
48            % of world           1.84%
49            % of world           1.59%
50                  Date       31-Dec-21
51                  Date       18-Jan-22
52                  Date       18-Jan-22
53                  Date       31-Dec-20
54                  Date       01-Jul-21
55                  Date       18-Jan-22
56                  Date       01-Jul-21
57                  Date       18-Jan-22
58                  Date       01-Jan-21
59                  Date       02-Mar-20

In [17]:
cdf.dtypes

Rank                     int64
Country / Dependency    object
Region                  object
Population               int64
% of world              object
Date                    object
dtype: object

In [19]:
cdf

   Rank Country / Dependency    Region  Population % of world       Date
0     1                China      Asia  1412600000     17.80%  31-Dec-21
1     2                India      Asia  1386946912     17.50%  18-Jan-22
2     3        United States  Americas   333073186      4.20%  18-Jan-22
3     4            Indonesia      Asia   271350000      3.42%  31-Dec-20
4     5             Pakistan      Asia   225200000      2.84%  01-Jul-21
5     6               Brazil  Americas   214231641      2.70%  18-Jan-22
6     7              Nigeria    Africa   211401000      2.67%  01-Jul-21
7     8           Bangladesh      Asia   172062576      2.17%  18-Jan-22
8     9               Russia    Europe   146171015      1.84%  01-Jan-21
9    10               Mexico  Americas   126014024      1.59%  02-Mar-20

In [22]:
def remove_pct(val):
    return(val[:-1])

In [24]:
remove_pct('20.01%')

'20.01'

In [25]:
cdf['% of world'].apply(remove_pct)

0    17.80
1    17.50
2     4.20
3     3.42
4     2.84
5     2.70
6     2.67
7     2.17
8     1.84
9     1.59
Name: % of world, dtype: object

In [30]:
cdf['% of world'] = cdf['% of world'].apply(lambda x: x[:-1])

In [27]:
cdf

   Rank Country / Dependency    Region  Population % of world       Date
0     1                China      Asia  1412600000     17.80%  31-Dec-21
1     2                India      Asia  1386946912     17.50%  18-Jan-22
2     3        United States  Americas   333073186      4.20%  18-Jan-22
3     4            Indonesia      Asia   271350000      3.42%  31-Dec-20
4     5             Pakistan      Asia   225200000      2.84%  01-Jul-21
5     6               Brazil  Americas   214231641      2.70%  18-Jan-22
6     7              Nigeria    Africa   211401000      2.67%  01-Jul-21
7     8           Bangladesh      Asia   172062576      2.17%  18-Jan-22
8     9               Russia    Europe   146171015      1.84%  01-Jan-21
9    10               Mexico  Americas   126014024      1.59%  02-Mar-20

In [31]:
cdf

   Rank Country / Dependency    Region  Population % of world       Date
0     1                China      Asia  1412600000      17.80  31-Dec-21
1     2                India      Asia  1386946912      17.50  18-Jan-22
2     3        United States  Americas   333073186       4.20  18-Jan-22
3     4            Indonesia      Asia   271350000       3.42  31-Dec-20
4     5             Pakistan      Asia   225200000       2.84  01-Jul-21
5     6               Brazil  Americas   214231641       2.70  18-Jan-22
6     7              Nigeria    Africa   211401000       2.67  01-Jul-21
7     8           Bangladesh      Asia   172062576       2.17  18-Jan-22
8     9               Russia    Europe   146171015       1.84  01-Jan-21
9    10               Mexico  Americas   126014024       1.59  02-Mar-20

In [32]:
cdf.dtypes

Rank                     int64
Country / Dependency    object
Region                  object
Population               int64
% of world              object
Date                    object
dtype: object

In [33]:
countries_df

   Rank Country / Dependency    Region  Population % of world       Date
0     1                China      Asia  1412600000      17.80  31-Dec-21
1     2                India      Asia  1386946912      17.50  18-Jan-22
2     3        United States  Americas   333073186       4.20  18-Jan-22
3     4            Indonesia      Asia   271350000       3.42  31-Dec-20
4     5             Pakistan      Asia   225200000       2.84  01-Jul-21
5     6               Brazil  Americas   214231641       2.70  18-Jan-22
6     7              Nigeria    Africa   211401000       2.67  01-Jul-21
7     8           Bangladesh      Asia   172062576       2.17  18-Jan-22
8     9               Russia    Europe   146171015       1.84  01-Jan-21
9    10               Mexico  Americas   126014024       1.59  02-Mar-20

In [36]:
cdf['Population (millions)']=round(cdf['Population']/1000000,2)

In [37]:
cdf

,Rank,Country / Dependency,Region,Population,% of world,Date,Population (millions)
0,1,China,Asia,1412600000,17.80,31-Dec-21,1412.60
1,2,India,Asia,1386946912,17.50,18-Jan-22,1386.95
2,3,United States,Americas,333073186,4.20,18-Jan-22,333.07
3,4,Indonesia,Asia,271350000,3.42,31-Dec-20,271.35
4,5,Pakistan,Asia,225200000,2.84,01-Jul-21,225.20
5,6,Brazil,Americas,214231641,2.70,18-Jan-22,214.23
6,7,Nigeria,Africa,211401000,2.67,01-Jul-21,211.40
7,8,Bangladesh,Asia,172062576,2.17,18-Jan-22,172.06
8,9,Russia,Europe,146171015,1.84,01-Jan-21,146.17
9,10,Mexico,Americas,126014024,1.59,02-Mar-20,126.01

In [38]:
cdf

,Rank,Country / Dependency,Region,Population,% of world,Date,Population (millions)
0,1,China,Asia,1412600000,17.80,31-Dec-21,1412.60
1,2,India,Asia,1386946912,17.50,18-Jan-22,1386.95
2,3,United States,Americas,333073186,4.20,18-Jan-22,333.07
3,4,Indonesia,Asia,271350000,3.42,31-Dec-20,271.35
4,5,Pakistan,Asia,225200000,2.84,01-Jul-21,225.20
5,6,Brazil,Americas,214231641,2.70,18-Jan-22,214.23
6,7,Nigeria,Africa,211401000,2.67,01-Jul-21,211.40
7,8,Bangladesh,Asia,172062576,2.17,18-Jan-22,172.06
8,9,Russia,Europe,146171015,1.84,01-Jan-21,146.17
9,10,Mexico,Americas,126014024,1.59,02-Mar-20,126.01

In [40]:
cdf.dtypes

Rank                       int64
Country / Dependency      object
Region                    object
Population                 int64
% of world                object
Date                      object
Population (millions)    float64
dtype: object

In [41]:
cdf['Country/ Region']= cdf['Country / Dependency']+' / '+ cdf['Region']

In [42]:
cdf

,Rank,Country / Dependency,Region,Population,% of world,Date,Population (millions),Country/ Region
0,1,China,Asia,1412600000,17.80,31-Dec-21,1412.60,China / Asia
1,2,India,Asia,1386946912,17.50,18-Jan-22,1386.95,India / Asia
2,3,United States,Americas,333073186,4.20,18-Jan-22,333.07,United States / Americas
3,4,Indonesia,Asia,271350000,3.42,31-Dec-20,271.35,Indonesia / Asia
4,5,Pakistan,Asia,225200000,2.84,01-Jul-21,225.20,Pakistan / Asia
5,6,Brazil,Americas,214231641,2.70,18-Jan-22,214.23,Brazil / Americas
6,7,Nigeria,Africa,211401000,2.67,01-Jul-21,211.40,Nigeria / Africa
7,8,Bangladesh,Asia,172062576,2.17,18-Jan-22,172.06,Bangladesh / Asia
8,9,Russia,Europe,146171015,1.84,01-Jan-21,146.17,Russia / Europe
9,10,Mexico,Americas,126014024,1.59,02-Mar-20,126.01,Mexico / Americas

In [43]:
cdf.rename(columns={'Country / Dependency': 'Country'}, inplace=True)

In [44]:
cdf

,Rank,Country,Region,Population,% of world,Date,Population (millions),Country/ Region
0,1,China,Asia,1412600000,17.80,31-Dec-21,1412.60,China / Asia
1,2,India,Asia,1386946912,17.50,18-Jan-22,1386.95,India / Asia
2,3,United States,Americas,333073186,4.20,18-Jan-22,333.07,United States / Americas
3,4,Indonesia,Asia,271350000,3.42,31-Dec-20,271.35,Indonesia / Asia
4,5,Pakistan,Asia,225200000,2.84,01-Jul-21,225.20,Pakistan / Asia
5,6,Brazil,Americas,214231641,2.70,18-Jan-22,214.23,Brazil / Americas
6,7,Nigeria,Africa,211401000,2.67,01-Jul-21,211.40,Nigeria / Africa
7,8,Bangladesh,Asia,172062576,2.17,18-Jan-22,172.06,Bangladesh / Asia
8,9,Russia,Europe,146171015,1.84,01-Jan-21,146.17,Russia / Europe
9,10,Mexico,Americas,126014024,1.59,02-Mar-20,126.01,Mexico / Americas

In [45]:
cdf.rename (columns={'% of world':'World %'}, inplace=True)

In [46]:
cdf

,Rank,Country,Region,Population,World %,Date,Population (millions),Country/ Region
0,1,China,Asia,1412600000,17.80,31-Dec-21,1412.60,China / Asia
1,2,India,Asia,1386946912,17.50,18-Jan-22,1386.95,India / Asia
2,3,United States,Americas,333073186,4.20,18-Jan-22,333.07,United States / Americas
3,4,Indonesia,Asia,271350000,3.42,31-Dec-20,271.35,Indonesia / Asia
4,5,Pakistan,Asia,225200000,2.84,01-Jul-21,225.20,Pakistan / Asia
5,6,Brazil,Americas,214231641,2.70,18-Jan-22,214.23,Brazil / Americas
6,7,Nigeria,Africa,211401000,2.67,01-Jul-21,211.40,Nigeria / Africa
7,8,Bangladesh,Asia,172062576,2.17,18-Jan-22,172.06,Bangladesh / Asia
8,9,Russia,Europe,146171015,1.84,01-Jan-21,146.17,Russia / Europe
9,10,Mexico,Americas,126014024,1.59,02-Mar-20,126.01,Mexico / Americas

In [47]:
cdf.drop(columns={'Country', 'Region'}, inplace=True)

In [48]:
cdf

,Rank,Population,World %,Date,Population (millions),Country/ Region
0,1,1412600000,17.80,31-Dec-21,1412.60,China / Asia
1,2,1386946912,17.50,18-Jan-22,1386.95,India / Asia
2,3,333073186,4.20,18-Jan-22,333.07,United States / Americas
3,4,271350000,3.42,31-Dec-20,271.35,Indonesia / Asia
4,5,225200000,2.84,01-Jul-21,225.20,Pakistan / Asia
5,6,214231641,2.70,18-Jan-22,214.23,Brazil / Americas
6,7,211401000,2.67,01-Jul-21,211.40,Nigeria / Africa
7,8,172062576,2.17,18-Jan-22,172.06,Bangladesh / Asia
8,9,146171015,1.84,01-Jan-21,146.17,Russia / Europe
9,10,126014024,1.59,02-Mar-20,126.01,Mexico / Americas

In [52]:
cdf['World %'] = cdf['World %'].astype(float)

In [53]:
cdf['World Population (Billions)'] = round((cdf['Population'] * 100 / cdf['World %'])/1000000000,2)

In [54]:
cdf.dtypes

Rank                             int64
Population                       int64
World %                        float64
Date                            object
Population (millions)          float64
Country/ Region                 object
World Population (Billions)    float64
dtype: object

In [55]:
cdf

,Rank,Population,World %,Date,Population (millions),Country/ Region,World Population (Billions)
0,1,1412600000,17.80,31-Dec-21,1412.60,China / Asia,7.94
1,2,1386946912,17.50,18-Jan-22,1386.95,India / Asia,7.93
2,3,333073186,4.20,18-Jan-22,333.07,United States / Americas,7.93
3,4,271350000,3.42,31-Dec-20,271.35,Indonesia / Asia,7.93
4,5,225200000,2.84,01-Jul-21,225.20,Pakistan / Asia,7.93
5,6,214231641,2.70,18-Jan-22,214.23,Brazil / Americas,7.93
6,7,211401000,2.67,01-Jul-21,211.40,Nigeria / Africa,7.92
7,8,172062576,2.17,18-Jan-22,172.06,Bangladesh / Asia,7.93
8,9,146171015,1.84,01-Jan-21,146.17,Russia / Europe,7.94
9,10,126014024,1.59,02-Mar-20,126.01,Mexico / Americas,7.93